.video-container{
    .selector{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 23px;

    }
    .title-line{
        width: 3px;
        height: 16px;
        background: #C23731;
    }
    .flex{
        display: flex;
        align-items: center;
        padding-bottom: 10px;
    }
    .content{
        display: flex;
        align-items: flex-start;
        padding: 23px 32px;
        width: 100%;
        box-sizing: border-box;
    }
    .content-l{
        flex:1;
        box-sizing: border-box;
    }
    .content-r{
        background-color: #fff;
        padding: 40px 0 32px 32px;
        box-sizing: border-box;
        font-size: 14px;
        width: 35%;
        .flex{
            align-items: flex-start;
        }
        .title{
            font-weight: 600;
            white-space: nowrap;
        }
        .item{
           // padding-bottom: 24px;
            line-height: 28px;
            color: #2B3940;
        }
        .tag-item{
            margin-right: 10px;
            margin-bottom: 8px;
            border: 1px dashed #aaa;
            color: #2B3940;
            background-color: $body-deep-color;
        }
    }
      
}