// 颜色定义
$system-color: #fff; // 系统色
// 页面高度
html, body, #app {
    height: 100%;
    background-color: #fff;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
// margin
@for $i from 1 through 30 {
    .mt-#{$i} {
        margin-top: #{$i}px !important;
    }
    .mr-#{$i} {
        margin-right: #{$i}px !important;
    }
    .ml-#{$i} {
        margin-left: #{$i}px !important;
    }
    .mb-#{$i} {
        margin-bottom: #{$i}px !important;
    }
    .mg-#{$i} {
      margin: #{$i}px !important;
    }
}
// height
@for $i from 1 through 100 {
    .height-#{$i} {
        height: #{$i}px !important;
    }
}
// padding
@for $i from 1 through 100 {
    .pt-#{$i} {
        padding-top: #{$i}px !important;
    }
    .pr-#{$i} {
        padding-right: #{$i}px !important;
    }
    .pl-#{$i} {
        padding-left: #{$i}px !important;
    }
    .pb-#{$i} {
        padding-bottom: #{$i}px !important;
    }
    .pd-#{$i} {
        padding: #{$i}px !important
    }
}
// font-size
@for $i from 1 through 30 {
    .f#{$i} {
        font-size: #{$i}px !important;
    }
}
.bold{
    font-weight: 600;
}
.c-111{
    color: rgba(17, 17, 17, 0.65);
}