.relation-chart{
    .chart-wrap{
        background-color: #fff;
        padding: 8px 16px;
        box-sizing: border-box;
        min-height: 800px;
    }
    .chart {
        height: 600px;
        width: 100%;
    }
    .toVideoList{
       
    }
}