.tag-list{
    .selector{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 23px;

    }
    .title-line{
        width: 3px;
        height: 16px;
        background: #C23731;
    }
    .color-green{
        color: #1F9875;
    }
    .color-red{
        color: #FF5F58;
    }
    .color-grey{
        color:#7E888A;
    }
    .list-container{
        background-color: #fff;
        padding: 8px 16px;
    }
    .flex{
        display: flex;
        align-items: center;
        padding-bottom: 10px;
    }
    .oper-container{
        display: flex;
       justify-content: flex-end;
    }
    .enable{
        background-color: #1677FF;
        border-color: #1677FF;
        &:hover{
            background-color: rgba(22, 119, 255, 0.8);
            border-color:rgba(22, 119, 255, 0.8);
        }
    }
    .el-switch__label.is-active{
        color: #2B3940;
    }
}
.confirm-pannel .el-message-box__message p{
    font-size: 20px;
    font-weight: bold;
}
.relation-panel{
    .title{
        text-align: center;
        color: #2B3940;
        font-weight: 600;
        font-size: 18px;
       
    }
    .el-dialog__header{
        padding: 32px 0;
    }
    .el-dialog__body{
        padding: 0 32px 32px 32px;
    }
    .form{
        display: flex;
    }
    .el-form-item{
        flex: 1;
    }
    .el-form-item__label{
        box-sizing: border-box;
        padding-left: 16px;
        color: #7E888A;
    }
}