.project-list{
    overflow-y: auto;
    height: 100%;
    padding-left: 16px;
    width: 100%;
    box-sizing: border-box;
    .table{
        background-color: #fff;
        padding: 48px 16px;
    }
    .color-green{
        color: #1F9875;
    }
    .color-red{
        color: #FF5F58;
    }
    .color-orange{
        color: orange;
    }
    .el-table--enable-row-hover .el-table__body tr:hover > td{
        background-color: #E2F7F1;
        cursor: pointer;
    }
    .color-grey{
        color: #aaa;
    }
    .oper-btns{
        display: flex;
        // justify-content: space-around;
        flex-wrap: wrap;
        span{
            padding: 10PX;
        }
    }
    .oper-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .list-container{
        background-color: #fff;
        padding: 8px 16px;
        box-sizing: border-box;
        font-size: 12PX;
        min-height: 300px;
    }
    .el-table .cell{
        font-size: 12PX;
    }
    .el-input__inner{
        font-size: 12PX;
    }
    .el-select .el-input .el-select__caret{
        font-size: 22px;
        &:hover{
            color: #C23731;
        }
    }
    .el-select:hover{
       .el-select__caret{
        color: #C23731;
       }
    }
    .el-date-editor  .el-icon-circle-close{
        font-size: 22px;
        &:hover{
            color: #C23731;
        }
    }
    .el-date-editor:hover{
       .el-icon-circle-close{
        color: #C23731;
       }
    }
}