.add-video{
    .selector{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 23px;

    }
    .title-line{
        width: 3px;
        height: 16px;
        background: #C23731;
    }
    .color-green{
        color: #1F9875;
    }
    .color-red{
        color: #FF5F58;
    }
    .color-grey{
        color:#7E888A;
    }
    .flex{
        display: flex;
        align-items: center;
        padding-bottom: 10px;
    }
    .content{
        background-color: #fff;
        padding: 32px;
        margin: 0px 0 0 16px;
        width: 60%;
        height: 900px;
        box-sizing: border-box;
    }
    .inline-form{
        display: flex;
    }
    .upload{
        .upload-opers{
            display: flex;
            align-items: center;
        }
    }
    .btn-groups{
        text-align: right;
    }
    .tag-choose{
        display: flex;
        align-items: center;
    }
    .el-form-item__label{
        font-weight: 600;
    }
}
