/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/
$--color-primary: #C23731;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";


// 推演引擎页 我的画布处理
.pic-handle-content{
    cursor:pointer;
    .oper-btn{
        margin-right: 16px;
            &:hover{
                color:$system-color;
            }
    }

    .oper{
        display:flex;
    }
    .add{
        margin-right: 50px;
    }
    i{
        vertical-align:middle;
        margin-right:12px
    }
    .line{
        height:1px;
        background-color:#D8D8D8;
        margin:7px 0;
    }
    .list{
        max-height: 300px;
        overflow-y: scroll;
        .item{
            display: flex;
            justify-content: space-between;
            padding:4px 0px 0px 3px;
            box-sizing:border-box;
            line-height: 32px;
            .act{
                display: none;
            }
            &.active{
              background-color: #FAEEEC;
              color: #BE0703;
            }
            &:hover{
                background-color: #F5F7F9;
                .act{
                    display: block;
                }
            }
           
        }
    }
}
// 数据准备选择 
.data-type-select{
    line-height: 30px;
    padding: 0 10px;
    &:hover{
        background-color: #F8F9FB;
    }
}
.el-menu--horizontal > .el-submenu .el-submenu__title{
    height: 32px;
    line-height: 32px;
    color: #fff;
    background-color:transparent; 
    border-bottom: none;
}
.el-menu--horizontal > .el-submenu .el-submenu__title:hover{
    background-color: none;
    height: 32px;
    line-height: 32px;
    background-color:transparent; 
    color: #fff;
}
.el-menu--horizontal{
    background-color: none;
}
.el-menu{
    background-color:transparent; 
}
.el-menu--horizontal > .el-submenu.is-active .el-submenu__title{
    border-bottom: none;
    color: #fff;
}


// 日期选择器，顶部左右箭头
.el-picker-panel.el-date-picker.el-popper, .el-picker-panel.el-date-range-picker.el-popper {
    .el-picker-panel__icon-btn {
        margin-top: 0;
        padding-top: 8px;
    }
}
