
.icon-universal-base {
    width: 6px;
    height: 10px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.icon-arrow-right-blue {
    @extend .icon-universal-base;
    background-image: url("../assets/home/icon-arrow@2x.png");
}

.icon-arrow-down-blue {
    @extend .icon-universal-base;
    background-image: url("../assets/home/icon-arrow@2x.png");
    transform: rotate(90deg);
}

.icon-green-check {
    @extend .icon-universal-base;
    background-image: url("../assets/home/icon-check@2x.png");
}



.icon-30 {
    width: 30px !important;
    height: 30px !important;
}


/**
 *  通用icon ----- END
 * */







/**
 *  业务相关icon ------------------------- Start ------------------------------
 * */

.icon-business-base {
    width: 24px;  // 这里的宽度和高度,可能需要在具体的页面中覆盖掉
    height: 24px; // 比如: 在产品页面就是30px
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
}
.icon-vm{
    @extend .icon-business-base; 
    background-image: url("../assets/solution/icon-vm-30@2x.png")
}
.icon-object-storage{
    @extend .icon-business-base;
    background-image: url("../assets/solution/icon-object-storage-30@2x.png") 
}
.icon-distributed-db{
    @extend .icon-business-base;
    background-image: url("../assets/solution/icon-distributed-db-30@2x.png") 
}
.icon-container{
    @extend .icon-business-base;
    background-image: url("../assets/solution/icon-container-30@2x.png") 
}
.icon-disk{
    @extend .icon-business-base;
    background-image: url("../assets/solution/icon-disk-30@2x.png") 
}
.icon-loadbalance{
    @extend .icon-business-base;
    background-image: url("../assets/solution/icon-loadbalance-30@2x.png") 
}
.icon-database-R{
    @extend .icon-business-base;
    background-image: url("../assets/solution/icon-database-R-30@2x.png") 
}
.icon-private-net{
    @extend .icon-business-base;
    background-image: url("../assets/solution/icon-private-net-30@2x.png") 
}
.icon-database-m{
    @extend .icon-business-base;
    background-image: url("../assets/solution/icon-database-m-30@2x.png") 
}
.icon-metal-host{
    @extend .icon-business-base;
    background-image: url("../assets/solution/icon-metal-host-30@2x.png") 
}
.icon-file-storage{
    @extend .icon-business-base;
    background-image: url("../assets/solution/icon-file-storage-30@2x.png") 
}
.icon-alarm{
    @extend .icon-business-base;
    background-image: url("../assets/solution/icon-alarm-30@2x.png") 
}
.icon-firewall{
    @extend .icon-business-base;
    background-image: url("../assets/solution/icon-firewall-30@2x.png") 
}
.icon-listener{
    @extend .icon-business-base;
    background-image: url("../assets/solution/icon-listener-30@2x.png") 
}
.icon-message-line{
    @extend .icon-business-base;
    background-image: url("../assets/solution/icon-message-line-30@2x.png") 
}
.icon-private-line{
    @extend .icon-business-base;
    background-image: url("../assets/solution/icon-private-line-30@2x.png") 
}
.icon-peer-to-peer{
    @extend .icon-business-base;
    background-image: url("../assets/solution/icon-peer-to-peer-30@2x.png") 
}
.icon-relative-database{
    @extend .icon-business-base;
    background-image: url("../assets/solution/icon-relative-database-30@2x.png") 
}
.icon-safety{
    @extend .icon-business-base;
    background-image: url("../assets/solution/icon-safety-30@2x.png") 
}
.icon-star-orange {
    @extend .icon-business-base;
    width: 14px;
    height: 14px;
    background-image: url("../assets/solution/star-orange.svg");
}

.icon-public-ip {
    @extend .icon-business-base;
    width: 30px;
    height: 30px;
    background-image: url("../assets/solution/icon-eip-30.svg");
}


.icon-vm-white-35 {
    @extend .icon-business-base;
    width: 35px;
    height: 35px;
    background-image: url("../assets/solution/icon-vm-35.svg");
}

.icon-object-storage-white-35 {
    @extend .icon-business-base;
    width: 35px;
    height: 35px;
    background-image: url("../assets/solution/icon-object-storage-35.svg");
}
.icon-firewall-white-35 {
    @extend .icon-business-base;
    width: 35px;
    height: 35px;
    background-image: url("../assets/solution/icon-firewall-35.svg");
}
.icon-loadbalance-white-35 {
    @extend .icon-business-base;
    width: 35px;
    height: 35px;
    background-image: url("../assets/solution/icon-loadbalance-35.svg");
}
.icon-logo-small-white {
    @extend .icon-business-base;
    width: 40px;
    height: 30px;
    background-image: url("../assets/solution/logo-small-white.svg");
}
