.final-list {
    height: 100%;
    padding-right: 60px;
    box-sizing: border-box;
    overflow-y: auto;
    .list-container{
        height: 100%;
        box-sizing: border-box;
        width: calc(100% - 60px);
        padding-right: 60px;
    }
    table{
        border: 1px solid #E7E7E7;
        width: 100%;
        overflow-y: auto;
        box-sizing: border-box;
        padding: 48px 16px;
    }
    tr,td{
        border: 1px solid #E7E7E7;
        background-color: #fff;
        box-sizing: border-box;
        word-break: break-all;
      }
      td{
        padding:12px 8px;
        font-size: 14px;
        line-height: 1.5;
        vertical-align: middle;
      }
    .selector{
      display: flex;
      padding-bottom: 30px;
    }
    
}