.video{
    padding: 24px 16px;
    .color-blue{
        color: #4566A4;
    }
    .video-title{
        color: rgba(17, 17, 17, 0.9);
        font-weight: 600;
    }
    .video-tag{
        padding-top: 14px;
        display: flex;
        font-size: 14px;
        align-items: center;
        .time{
            display: flex;
            align-items: center;
            color: rgba(17, 17, 17, 0.65);
        }
    }
    .video-content{
        position: relative;
        .control-video{
            position: absolute;
            bottom: 3.0em; /*底部控件是3.0em*/
            left: 0;
            width: 100%;
            height: 100%;
    
            background-color: red;
        }
    }
    .video-desc{
        padding: 24px 0;
        text-indent: 2em; 
        line-height: 32px;
        color: #000;
        font-weight: 400;
    }
    .video-tip{
        display: flex;
        justify-content: space-between;
    }
    .reader{
        color: rgba(17, 17, 17, 0.5);
    }
    .good-job{
        display: flex;
        justify-content: center;
        color: rgba(17, 17, 17, 0.5);
        &.active{
            color: #4566A4;
        }
    }
    .related-video{
        padding: 40px 0;
    }
    .related-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .all-video{
        display: flex;
        align-items: center;
        &:hover{
            color: rgba(17, 17, 17, 0.8);
        }
    }
    .show-video{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
       // width: 30px;
        // flex-wrap: nowrap;

    }
    .show-item{
        width: 32%;

        .video-img{
            position: relative;
            border-radius: 4px;
            width: 100%;
            height:64px;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
        }
        .video-name{
            text-align: center;
            line-height: 18px;
        }
        .bg{
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: 3;
            border-radius: 4px;
            background-color: rgba(1,1,1,0.15);
            &:hover{
                background-color: rgba(1,1,1,0.2);
            }
        }
    }
}